+/*Color Palette

coral
#FF7F50

ghostwhite
#F8F8FF

maroon
#800000

midnightblue
#191970

navajowhite
#FFDEAD
*/



/*Global Styles--------------------------------------------------------------------------------------------------------*/
body{
 

  }
  
  /* Profile-------------------------------------------------------------------------------------------------------*/
  header {
    background: #FFFFE0;
  }
  
  
  
  
  /* Projects-------------------------------------------------------------------------------------------------------*/
  .projects {
    background: #F8F8FF;
  }
  .projects a {
  .projects .btn {
    color: #F8F8FF;
    background: #191970;
    padding: 8px;
    border-radius: 4px;
  }
  .projects .btn:hover {
    background: rgba(25, 25, 112, 80%); }
  
  
  
  
  /* Work Experience -------------------------------------------------------------------------------------------------------*/
  
  .work-experience {
    background: #F8F8FF;
  }
  
  
  /* Education-------------------------------------------------------------------------------------------------------*/
  
  
  
  
  
  /* Contact Info-------------------------------------------------------------------------------------------------------*/
  footer {
    background:#800000;
  }