


/*Global Styles--------------------------------------------------------------------------------------------------------*/
body {
  font-family: monospace;
}


.flexSection {
    /* display: flex;
    flex-flow:row ;
    flex-direction: wrap; 
    font-family: monospace;
    width: 100em;
    justify-content:space-evenly;
    flex-grow: 1;*/
   
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-indent: 15px; 
}
  
  /* Header-------------------------------------------------------------------------------------------------------*/
  header {font-family:monospace;

          background:#FFDEAD;
          padding: 50px;
          color: #696969;
          text-shadow: 10px;
          background-image: url("images/libraryshelves.png") ;
          background-repeat: no-repeat;
          background-size:350px;
          background-position: right;
          background-position-x: 80%;
          background-blend-mode:overlay;
        
        }

    button {
        border-style: double;
        background-color: black;
        color:chartreuse;
    }

   
  

  
  
  /* Projects-------------------------------------------------------------------------------------------------------*/
  .item1{
    background-color: aqua;
  }
  .item2 {
    background-color: darkorange;

  }
  .item3 {
    background-color: rebeccapurple;
  }
  
  
  
  
  /* Work Experience -------------------------------------------------------------------------------------------------------*/
  
  .work-experience {
    background: #F8F8FF;
  }
  
  
  /* Education-------------------------------------------------------------------------------------------------------*/
  
  
  
  
  
  /* Contact Info-------------------------------------------------------------------------------------------------------*/
  footer {
    background:#800000;
  }