


/*Global Styles--------------------------------------------------------------------------------------------------------*/
.flexSection {
    display: flex;
    flex-direction:column ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5em;
}
section .item1 h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

  
  /* Header-------------------------------------------------------------------------------------------------------*/
  header {font-family:monospace;
          background:#FFDEAD;
          padding: 50px;
          color: #696969;
          text-shadow: 10px;
          
        }
  
  
  
  
  /* Projects-------------------------------------------------------------------------------------------------------*/
  .projects {
    background: #F8F8FF;
  }
  .projects a {
  .projects .btn {
    color: #F8F8FF;
    background: #191970;
    padding: 8px;
    border-radius: 4px;
  }
  .projects .btn:hover {
    background: rgba(25, 25, 112, 80%); }
  
  
  
  
  /* Work Experience -------------------------------------------------------------------------------------------------------*/
  
  .work-experience {
    background: #F8F8FF;
  }
  
  
  /* Education-------------------------------------------------------------------------------------------------------*/
  
  
  
  
  
  /* Contact Info-------------------------------------------------------------------------------------------------------*/
  footer {
    background:#800000;
  }